page-email-verification {
    #email {
        
        background-color: #ECEFF1;
        flex-grow: 1;
        overflow: hidden;

        ion-img {
            background-color: #ECEFF1;
            width: 120px;
            height: 120px;
            display: block;
            margin: 0 auto;
            margin-top: 15%;
        }

        p {
            font-size: 20px;
            text-align: center;
            margin-bottom: 5%;
            color: #686868;
        }

        .button-ok {
            background-color: #00B0FF;
            display: block;
            margin: 0 auto;
            margin-top: 10%;
            font-size: 25px;
            width: 70%;
            height: 40px;
        }
    }
}
