page-register {

    #register {
        flex-grow: 1;
        overflow: hidden;

        .button-register {
            background-color: #00B0FF;
            display: block;
            margin: 0 auto;
            margin-top: 5%;
            font-size: 25px;
            width: 70%;
            height: 40px;
        }
    }

}
