page-forgot-password {
    #forgot {
        
        background-color: #FFF;
        flex-grow: 1;
        overflow: hidden;

        ion-img {
            background-color: #FFF;
            width: 120px;
            height: 120px;
            display: block;
            margin: 0 auto;
            margin-top: 15%;
        }

        h1 {
            font-size: 18px;
            text-align: center;
            margin-top: 10%;
            color: #686868;
        }

        .button-ok {
            background-color: #00B0FF;
            display: block;
            margin: 0 auto;
            margin-top: 10%;
            font-size: 25px;
            width: 70%;
            height: 40px;
        }
    }
}
