page-history {
    
        #history {
    
            .text-balance {
                color: #373737;
                font-weight: bold;
                font-size: 16px;

                margin-bottom : -10px;
            }
    
            .text-small-1 {
                color: #686868;
                margin-bottom : -10px;
            }
    
            .text {
                color: #373737;
            }

            .text-price {
                color: #373737;
                font-weight: bold;
                margin-top : -8px;
            }
    
            .center {
                text-align: center;
                border-bottom: 1px solid #D6DADB;
            }
            .space {
                height: 10px; 
                background-color: #ECEFF1;
            }
            .img {
                width: 40px;
                height: 40px;
            }
    
        }
    
    }
    